.app-container {
    width: 100%;
    max-width: 1080px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container-top {
    width: 100%;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #0000001a;
}
.app-container-top__title {
    min-height: 1em;

    color: #111;
    text-align: center;
}
.app-container-top__stations {
    min-height: 1em;

    color: #6e6e6e;
    text-align: center;
}

.app-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}